@charset "utf-8";

$bgcolor: #e3ddd1 !default;
$foreground: #333 !default;
$overlayColor: #EDEDED !default;

// boilerplate
@import '../../../../../assets/vendor/yatsatrap/sass/bootstrap';
@import '../../../../../assets/sass/mixins';
@import '../../../../../assets/sass/helpers';

// blocks
@import 'base';
@import 'login';
